/* General styles */

:root {
  --primary-brand-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --logo-main-color: #4d5ae5;
  --team-bg-color: #f4f4fd;
  --button-hover-color: #404bbf;
  --secondary-text-color: #434455;
  --customers-color: #8e8f99;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.pointer-btn {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Cancel */

.lists {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.adress-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-font {
  font-family: 'Raleway', sans-serif;
  color: var(--logo-main-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo {
  margin-right: 76px;
}

.logo-header-color {
  color: var(--primary-brand-color);
}

.header-links {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-links:hover,
.header-links:focus {
  color: #404bbf;
}

.header-links.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(64, 75, 191, 1);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.active {
  color: var(--button-hover-color);
}

.adress-wrap {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  font-weight: inherit;
  color: var(--secondary-text-color);
}

/* Hero section */

.hero-bg {
  background-color: var(--primary-brand-color);
  padding-top: 188px;
  padding-right: 472px;
  padding-bottom: 292px;
  padding-left: 472px;
  padding: 188px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-header-font {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-btn {
  color: var(--primary-bg-color);
  background-color: var(--logo-main-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--button-hover-color);
}

/* Advantages section */

.advantages-wrap {
  width: calc((100% - 72px) / 4);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.advantages-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: rgba(244, 244, 253, 1);
  border-radius: 4px;
  margin-bottom: 8px;
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  line-height: 1.5;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  width: 264px2;
  height: auto;
}

/* What are we doing section */

.works-section {
  padding-bottom: 120px;
}

.works-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.works-list {
  display: flex;
  gap: 24px;
}

.works-list-item {
  width: calc((100% - 48px) / 3);
}

/* Our team section */

.our-team-bg {
  background-color: var(--team-bg-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-container {
  display: flex;
  gap: 24px;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-img {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.members-header {
  color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.members-text {
  line-height: 1.5;
  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
}

.our-team-wrap {
  text-align: center;
  padding: 32px 0;
}

.team-social-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: rgba(64, 75, 191, 1);
}

.team-social-icon {
  fill: rgba(244, 244, 253, 1);
}

/* Customers section */

.company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.company-header {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}
.company-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  color: var(--customers-color);
  border: 1px solid var(--customers-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}

.customer-icon {
  fill: currentColor;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .customer-icon {
  fill: #404bbf;
}

.customer-link:focus .customer-icon {
  fill: #404bbf;
}

/* Portfolio main section  */

.portfolio-header-underline {
  border-bottom: 1px solid #e7e9fc;
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btns {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--team-bg-color);
  color: var(--logo-main-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-wrap {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btns:hover,
.portfolio-btns:focus {
  color: var(--primary-bg-color);
  background-color: var(--button-hover-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.portfolio-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.general-works-wrap {
  display: flex;
  flex-wrap: wrap;

  row-gap: 48px;
  column-gap: 24px;
}

.works-wrap {
  width: calc((100% - 2 * 24) / 3);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.works-wrap:hover,
.works-wrap:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-text-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.works-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Overlay */

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #4d5ae5;

  padding: 40px 32px;
}

.works-wrap:hover .overlay {
  transform: translateY(0);
}

.works-link:focus .overlay {
  transform: translateY(0);
}

/* Footer */

.footer-bg {
  background-color: var(--primary-brand-color);
  padding-top: 101.5px;
  padding: 100px 0;
}

.logo-footer-color {
  color: var(--team-bg-color);
}

.footer-text {
  color: var(--team-bg-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  height: auto;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-social-links {
  display: flex;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-main-section {
  display: block;
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subtitle {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-icon {
  fill: rgba(244, 244, 253, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: rgba(49, 208, 170, 1);
}

.footer-social {
  margin-right: 80px;
}

/* Footer inputs */

.footer-subscribe-area {
  display: flex;
  align-items: flex-end;
}
.footer-label {
}
.footer-label-text {
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  margin-bottom: 16px;
}
.footer-input {
  display: block;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
  margin-right: 24px;
}
.footer-input::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.48px;
}

.footer-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  margin: 0;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  border-color: transparent;
  border-radius: 4px;
  background-color: var(--logo-main-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--button-hover-color);
}

.footer-sub-icon {
  fill: rgba(255, 255, 255, 1);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: transparent;
}

.modal-icon {
  fill: rgba(46, 47, 66, 1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon {
  fill: rgba(255, 255, 255, 1);
}

.modal-btn:focus .modal-icon {
  fill: rgba(255, 255, 255, 1);
}

/* Modal inputs */

.modal-text {
  display: block;
  width: 360px;
  margin-bottom: 16px;
  margin-top: 72px;

  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* .modal-form {
} */
.modal-form-field {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}
.modal-form-input {
  width: 100%;
  height: 40px;

  font-size: 18px;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  outline: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  bottom: 8px;
  left: 16px;
  fill: rgba(46, 47, 66, 1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-input-icon {
  fill: rgba(77, 90, 229, 1);
}

.modal-textarea {
  display: block;
  width: 360px;
  height: 120px;
  outline: transparent;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.48px;
}
